.btn{
    height: 50px;
    width: 150px;
}
.categoriesBtn{
    border-radius: 7px;
    align-self: center; /*  z ekseninde kutuyu center */
    border: solid #000000;
    align-content: center; /*z ekseninde kutu içinde center*/
    padding: 5px 20px 5px 20px ;
    cursor: pointer;

}
.categoriesBtn:hover{
    background-color: #024059;
}
.myBucketBtn{
    border-radius: 7px;
    background-color: #024059;
    color: white;
    align-self: center; /*  z ekseninde kutuyu center */
    border: solid #024059;
    align-content: center; /*z ekseninde kutu içinde center*/
    cursor: pointer;
    padding: 5px 20px 5px 20px ;
}
.myBucketBtn:hover{
    background-color: #012432;
}
.AccountBtn{
    border-radius: 30px;
    background-color: #F15016;
    color: white;
    align-self: center; /*  z ekseninde kutuyu center */
    border: solid #F15016;
    align-content: center; /*z ekseninde kutu içinde center*/
    cursor: pointer;
    padding: 5px 20px 5px 20px ;
}
.AccountBtn:hover{
    background-color: #a93a11;
    border: solid #a93a11;
}
.profileBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F15016;
    color: white;
    align-self: center; /*  z ekseninde kutuyu center */
    border: solid #F15016;
    align-content: center; /*z ekseninde kutu içinde center*/
    cursor: pointer;
}
.profileBtn:hover{
    background-color: #89300f;
}
#addToCart{
    width: 30px;
    height: 30px;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    text-align: center;
    background-color: #024059;
    color: white;
    cursor: pointer;
}
#addToCart:hover{
    background-color: #F15016;
}

.pass-btn{
    border-radius: 12px;
    text-decoration: none;
    color: white;
    border: none;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.pass-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.btn-format{
    text-decoration: none;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.addtocartBtn{
    width: 150px;
    background-color: #F15016;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    color: white;
}
.addtocartBtn:hover{
    background-color: #a93a11;
}
#addToCartBtn{
    text-decoration: none;
    border: none;
}