.push-button{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.push-icon{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--blue-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.push-icon:hover{
    background-color: var(--blue-color-2);
}
.mini-icon{
    width: 8px;
    height: 15px;
}

.add-cart-button{
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-color: var(--blue-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.add-cart-button:hover{
    background-color: var(--orange-color-1);
}
.cart-icon{
    width: 18px;
    height: 18px;
}