.text-buttons{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
}

.text-buttons a {
    text-decoration: none;
}

.header-button{
    width: max-content;
    height: 44px;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-button{
    border-radius: 64px;
    gap: 8px;
    background-color: var(--orange-color-1);
}

.cart-button{
    border-radius: 6px;
    gap: 8px;
    background-color: var(--blue-color-1);
}

.category-button{
    border-radius: 6px;
    border: solid var(--primary-color-2);
}

.button-text{
    font-size: 1rem;
    margin: 0;
    color: var(--primary-color-1);
    text-decoration: none;
}

.text-color{
    color: var(--primary-color-2);
}

.profile-button:hover{
    background-color: var(--orange-color-2);
}

.cart-button:hover{
    background-color: var(--blue-color-2);
}

.category-button:hover{
    background-color: var(--secondary-color-1);
}

.push-button{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 6px;
}
.push-icon{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--blue-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.push-icon:hover{
    background-color: var(--blue-color-2);
}
.mini-icon{
    width: 8px;
    height: 15px;
}

.add-cart-button{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: var(--blue-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.add-cart-button:hover{
    background-color: var(--orange-color-1);
}

.cart-icon{
    width: 18px;
    height: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-color-1);
    min-width: 154px;
    margin-top: 154px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-profile{
    background-color: var(--orange-color-1);
    min-width: 120px;
    margin-top: 112px;
}

.dropdown-content a {
    color: var(--primary-color-2);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-profile a {
    color: var(--primary-color-1);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-profile a:hover {background-color: var(--orange-color-2);}

.category-button:hover .dropdown-content {display: block;}

.profile-button:hover .dropdown-profile {display: block;}