@media screen and (max-width: 1140px){
    #slider-bar {
        padding: 2ch 2ch;
    }

    .banner{
        width: auto;
        height: auto;
        max-height: 90px;
        max-width: 300px;
    }

}

@media screen and (max-width: 740px){
    #slider-bar {
        flex-direction: column;
        gap: 8px;
    }

    .banner{
        width: 100%;
        height: auto;
    }

    .posters{
        flex-direction: column-reverse;
        gap: 4px;
    }

    .poster-index{
        flex-direction: row;
        padding: 6px 12px;
        gap: 12px;
    }
    .index{
        width: 5px;
        height: 5px;
        font-size: 0;
        background-color: var(--orange-color-1);
    }
}