body{
    background-image: url('../../assets/const/background_1.png');
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 16ch;
    color: #dddddd;
}
button{
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.column{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.row{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
/*
#header-sm {
    padding: 2ch 0;
    display: flex;
    gap: 44px;
    width: 100%;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}
.navbar{
    height: 70px;
    text-align: center;
    align-content: center;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}
*/
.hidden{
    display: none;
}
/*
.header-row-sm{
    width: 100%;
    gap: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/
.spacer{
    width: 100%;
}

.icon{
    height: 16px;
}
p{
    align-content: center;
}/*
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-color-1);
    min-width: 154px;
    margin-top: 154px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-profile{
    background-color: var(--orange-color-1);
    min-width: 120px;
    margin-top: 112px;
}

.header-button{
    width: max-content;
    height: 44px;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.app-icon{
    height: 44px;
    cursor: pointer;
}
*/
#store-desk {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    gap: 4ch;
    align-items: center;
}

.custom-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.title-container{
    width: 10px;
    height: 70px;
    border-radius: 60px;
    background-color: var(--blue-color-3);
}

.order-title{
    color: var(--blue-color-3);
    margin: 0;
    font-size: 1.75rem;
    font-weight: bold;
}

.title {
    width: 100%;
    display: flex;
    gap: 12px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.row-store-man-header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
}

.space{
    width: 100%;
    height: 200px;
}

#sm-body-grid{
    padding: 3%;
    width: 100%;
}
.sm-body-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 7%;
    row-gap: 2%;
}

.sm-product-box{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    background-color: #FFFFFF;
    width: 100%;
}
.sm-product-box-padding{
    display: flex;
    width: 90%;
    padding: 5%;
    height: 86%;
}
.image-box{
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 4%;
    max-width: 80px;
    max-height: 80px;
}
.image-box img{
    max-width: 80px;
    max-height: 80px;
}

.popup {
    display: none; /* Gizli başlar */
    position: fixed; /* Sabit pozisyon, sayfanın tamamını kaplar */
    z-index: 100; /* Yüksek bir z-index değeri */
    left: 0;
    top: 0;
    width: 34%;
    height: 100%;
    padding: 0 33%;
    background-color: rgba(0, 0, 0, 0.4); /* Karanlık arka plan */
}


.popup-content {
    background-color: #F2F2F2;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 7%;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#add-product-form input{
    border: none;
    border-radius: .25rem;
    padding: 3% 2%;
    width: 96%;
    background-color: #FFFFFF;
    height: 100%;
    font-size: 14px;
}

#add-customer-form input{
    border: none;
    border-radius: .25rem;
    padding: 3% 2%;
    width: 96%;
    background-color: #FFFFFF;
    height: 100%;
    font-size: 14px;
}

input.linedit-sm{
    border: none;
    overflow-y: auto;
    text-overflow: ellipsis;
    white-space: normal; /* Taşan yazıları alt satıra geçirir */
    word-wrap: break-word; /* Uzun kelimeleri böler */
}
.select-list-class{
    border: none;
    background-color: var(--primary-color-1);
    border-radius: 7px;
    padding: 12px;
}

