#search-bar{
    width: 100%;
    height: auto;
}

.search-container-sm form {
    display: flex;
}
.search-container-sm {
    text-align: center;
    align-self: center;
    width: 80%;
    max-width: 800px;
}

.search-container-sm form {
    display: flex;
}

.search-container-sm input[type="text"] {
    padding: 0 12px;
    font-size: 0.85rem;
    border: solid var(--secondary-color-2);
    border-radius: 5px;
    height: 44px;
    width: 80%;
}