.searchLine{
    border: solid #000000 ;
    border-radius: 12%;
    width: 10%;
}

.search-container {
    text-align: center; 
    align-self: center;
}

.search-container form {
    display: flex;
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 3px solid #3A3E40;
    border-radius: 5px 0 0 5px;
    width: 500px;
    height: 40px;
}
.search-container button {
    padding: 10px 30px;
    font-size: 17px;
    border: 1px solid #3A3E40;
    border-left: none;
    background-color: #3A3E40;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-container button:hover {
    background-color: #0b0c0c;
}


.product-box{
    border-radius: 15px;
    height: 200px;
    width: 200px;
    background-color: #F2F2F2;
    padding: 15px;
    flex: 0 0 auto; /*esnemeyi engeller*/
}