.product-info-line{
    height: 400px;
    width: 100%;
}
.container-background-product{
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 2%;
    align-content: center;
    justify-content: center;
}