body{
    background-image: url('../assets/const/background_1.png');
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*PROFILE*/
#profile-form{
    padding: 2ch 16ch;
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 12px;
    align-items: start;
    flex-direction: row;
}

.title-box{
    width: max-content;
    color: var(--primary-color-1);
    border-radius: 6px;
    padding: 8px 12px 24px 8px;
    font-size: 1.3rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-title{
    background: linear-gradient(180deg, var(--green-color-1) 0%, var(--green-color-2) 100%);
}

.seller-title{
    background: linear-gradient(180deg, var(--blue-color-1) 0%, var(--blue-color-2) 100%);
}

.update-title{
    background-color: var(--blue-color-3);
}

.form-box{
    background-color: var(--primary-color-1);
    width: max-content;
    height: max-content;
    max-width: 420px;
    position: relative;
    border-radius: 8px;
    padding: 12px;
    left: 18px;
    bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
/*FORM*/
.registration-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

input {
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
    width: 100%;
}

.form-title{
    font-size: 1.2rem;
    color: var(--green-color-1);
}
.password-change{
    font-weight: bold;
    cursor: pointer;
}
.password-change:hover{
    color: var(--green-color-1);
}

.delete-store{
    font-weight: bold;
    cursor: pointer;
}

.delete-store:hover{
    color: var(--red-color-1);
}

.seller-form-title{
    color: var(--blue-color-1);
}

.update-form-title{
    color: var(--blue-color-3);
}
.form-row{
    display: flex;
    flex-direction: row;
}

.spacer{
    width: 32px;
}

.button{
    width: 100%;
    height: 42px;
    border-radius: 36px;
    background-color: var(--green-color-1);
    align-items: center;
    font-size: 20px;
    margin-top: 12px;
    color: white;
    border: none;
    user-select: none;
}

.button-seller-info{
    background-color: var(--blue-color-1);
}

.button-update-seller-info{
    background-color: var(--blue-color-3);
}

.button:hover{
    background-color: var(--green-color-2);
}

.button-seller-info:hover{
    background-color: var(--blue-color-2);
}

.button-update-seller-info:hover{
    background-color: var(--blue-color-1);
}

.info-text{
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 0.8rem;
    text-align: center;
}
@media screen and (max-width: 1140px) {
    #profile-form {
        padding: 2ch 2ch;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}

@media screen and (max-width: 740px) {
    .title-box{
        font-size: 1.1rem;
    }

    .form-box{
        max-width: 82vw;
        bottom: 2ch;
        left: 0;
        width: 80vw;
    }
}

